<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 text-center mt-4">
           <img src="/assets/img/burger1.jpg" class="img-fluid rounded mx-auto d-block">
            <h1>Eat Da Burger</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-6 text-center task">
                {{#each burger_data}}
                    {{#unless this.devoured}}
                    {{this.id}}.{{this.burger_name}}
                   <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                        <button type="submit" class="btn btn-light">Devour It!</button>
                    </form>
                    {{/unless}}
                {{/each}}  
        </div>
        <div class="col-xs-2 text-center"></div>
        <div class="col-xs-4 text-center task">
             {{#each burger_data}}
                {{#if this.devoured}}
                    <input type="text" class="form-control ml-5 mr-2" placeholder="{{this.id}}.{{this.burger_name}}">
                {{/if}}
             {{/each}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 text-center">
            <form method="POST" action="/burgers/create" >
                <input type="text" name="burger_name" class="form-control my-3 py-4" value="" placeholder="Enter burger name">
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                </form>
            <p>Enter a burger you would like to eat!</p>
        </div>
    </div>
</div>